{% extends 'base.html' %}

{% block content %}
	<div class='row'>
		<div class="col-sm-6 col-sm-offset-3 text-center">
			<h1>Valid Links</h1>
			<hr>
			<a href="/posts/">Posts</a><hr>
			<a href="/posts/create">Create new post</a>
			<hr>
			<h4>Tips to update/delete posts</h4>
			<p>1.	Click on the posts</p>
			<p>2.	Click on View</p>
			<p>3.	To update, append <small>update/</small>
				update to url. So that it looked like<br> <span class="text-success">/posts/&lt;id&gt;/update/</span></p><br>
			<p>4.	To delete, append <small>delete/</small>
				update to url. So that it looked like <br><span class="text-success">/posts/&lt;id&gt;/delete/</span></p>
		</div>
	</div>
{% endblock %}