
{% extends 'base.html' %}
{% block title %}Create/Update{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		<h2>{{title}}</h2>
		<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
			{{ form.as_p }}
			<input type='submit' class= "btn btn-default" value="{{value}}">
		</form>
		</div>
	</div>
{% endblock %}
