{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
			<!-- 	<h2>{{title}}</h2> -->
		<div class="col-sm-6 col-sm-offset-3">
			<h1 class="text-center text-success">All Posts</h1>
					<form method="GET" action="">
					<input type="text" name="q" placeholder="Search post" value="{{request.GET.q}}"/>
					<input type="submit" value="Search" "/>
					</form>
			<hr>
			{% for post in posts %}
			<div class="row">
			  <div class="col-sm-12">
			    <div class="thumbnail">
			    	{% if post.image %}
			      <img src='{{ post.image.url }}' class="img-responsive">
			      	{% endif %}

			      <div class="caption">
			        <h3>{{ post.title }}<small>{{post.timestamp|timesince}} ago </small> </h3> <hr>
			        <p>{{post.content | linebreaks|truncatechars:120}}</p>
			        <p><a href="{{ post.get_absolute_url }}" class="btn btn-primary" role="button">View</a> 
			        </p>
			      </div>
			    </div>
			    <hr>
			  </div>
			</div>
			
			{% endfor %}	
		</div>

			<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
					<div class="pagination">
					    <span class="step-links">
					        {% if posts.has_previous %}
					            <a href="?{{paginator_var}}={{ posts.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}} {% endif %}">previous</a>
					        {% endif %}

					        <span class="current">
					            Page {{ posts.number }} of {{posts.paginator.num_pages }}.
					        </span>

					        {% if posts.has_next %}
					            <a href="?{{paginator_var}}={{ posts.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}} {% endif %}">next</a>
					        {% endif %}
					    </span>
					</div>	
				</div>
			</div>
				
{% endblock content %}